---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Acerca de</title>
  </head>
  <body>
    <header>
      <h1>Acerca de</h1>
      <p>Información sobre mi</p>

      <nav>
        <a href="/">Inicio</a>
        <a href="/about">Acerca de</a>
        <a href="/blog">Blog</a>
      </nav>
    </header>
    <main>
      <section>
        <p>Aqui encontraras informacion sobre mi</p>
      </section>
    </main>
    <footer>
      <p>Todos los derechos reservados &copy | {new Date().getFullYear()};</p>
    </footer>
  </body>
</html>