---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <header>
      <h1>Blog</h1>
      <p>Información sobre mi blog</p>

      <nav>
        <a href="/">Inicio</a>
        <a href="/about">Acerca de</a>
        <a href="/blog">Blog</a>
      </nav>
    </header>
    <main>
      <h2>Mi aprendizaje con Astro</h2>

      <p>
        Astro es una librería de JavaScript que te permite crear aplicaciones
        web de forma sencilla. La principal ventaja de usar Astro es que puedes
        personalizar su estructura de la web con un archivo de configuración
        (`.astro`) y usar el lenguaje de programación de tu elección.
      </p>
    </main>
    <footer>
      <p>Todos los derechos reservados &copy | {new Date().getFullYear()};</p>
    </footer>
  </body>
</html>
