---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<h1>Martydev</h1>
			<p>Bienvenido a mi blog</p>
		</header>
		<main>
			Aquí encontrarás mis articulos
		</main>
		<footer>
			Todos los derechos reservados &copy | {new Date().getFullYear()};
		</footer>
	</body>
</html>
